<aside class="sidebar">
  <h2>FofoTech</h2>
  <ul>
    <li><a href="{{ url_for('home.retornaInicio') }}">Página Inicial</a></li>

    <li>
      <a href="#" id="workspaceLink">Projeto</a>
      <ul class="submenu" id="workspaceSubmenu">
        <li><a href="{{ url_for('work.criar_projeto') }}">Criar Projeto</a></li>
        {% for e in projeto %}
          <li><a href="{{ url_for('work.visualizar_projeto', id=e.id) }}">{{ e.nome }}</a></li>
        {% endfor %}
      </ul>
    </li>

    <li><a href="{{ url_for('home.minhasTarefas') }}">Minhas Tarefas</a></li>
    <li><a href="{{ url_for('home.meuPerfil') }}">Perfil</a></li>
  </ul>
</aside>
