<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Inicial - FofoTech</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>

   
  <aside class="sidebar">
  <h2>FofoTech</h2>
  <ul>
    <li><a href="/home">Página Inicial</a></li>
    <li>
      <a href="#" id="workspaceLink">Espaço de Trabalho</a>
      <ul class="submenu" id="workspaceSubmenu">
        <li><a href="/criar-espaco">Criar Espaço</a></li>
      </ul>
    </li>
    <li><a href="#">Minhas Tarefas</a></li>
    <li><a href="#">Perfil</a></li>
  </ul>
</aside>

  
  <main class="main">
    <h1>Olá, {{ nome_usuario }}!</h1>
    <h2>Crie seu espaço de trabalho para começar.</h2>
   <button onclick="window.location.href='/criar-espaco'">Criar Espaço</button>

</body>
</html>
