<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FofoTech - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagens/robo.png') }}" type="image/png">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="{{ url_for('static', filename='imagens/robo.png') }}" alt="Robô" class="logo">
            <h1>FofoTech</h1>
            <p class="welcome">Bem-vindo!<br>Vamos conquistar suas tarefas pendentes!</p>
        </div>
        <div class="right">
                {% if success %}
                <div class="success-message">
                    {{ success }}
                </div>
                {% endif %}

                {% if error %}
                <div class="error-message">
                    {{ error }}
                </div>
                {% endif %}

            <form method="POST" action="/login">
                <h2>Entrar</h2>
                <label for="email">E-mail</label>
                <input type="email" name="email" required>
                
                <label for="senha">Senha</label>
                <input type="password" name="senha" required>
                
                <button type="submit">Entrar</button>
                <a href="/esqueci-minha-senha">Esqueceu a senha?</a>
                <p>Não tem conta? <a href="cadastro">Cadastrar</a></p>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>